/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: ParameterTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	cell-padding-left: 3px;
	cell-padding-right: 3px;
	cell-padding-top: 1px;
	cell-padding-bottom: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 120px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #696969;
	color: #ffffff;
	name: Header1;
	id: 3;
	text-align: left;
	vertical-align: bottom;
	font-size: 12px;
	font-family: Arial;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #d3d3d3;
	name: Body1;
	id: 1;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	font-family: Arial;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 3px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	font-family: Arial;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-bottom: 3px;
	cell-padding-top: 5px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
	font-size: 10px;
	font-family: Arial;
}


/* Cell Styles: */
 
.TableStyle-ParameterTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-ParameterTable-Column-Column1
{
	width: 120px;
}

.TableStyle-ParameterTable-Head-Header1
{
	
}

.TableStyle-ParameterTable-HeadI-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
	background-color: #696969;
}

.TableStyle-ParameterTable-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-HeadE-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ParameterTable-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-HeadF-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ParameterTable-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-HeadH-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
	background-color: #696969;
}

.TableStyle-ParameterTable-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-HeadD-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ParameterTable-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-HeadC-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
	background-color: #696969;
}

.TableStyle-ParameterTable-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-HeadB-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
	background-color: #696969;
}

.TableStyle-ParameterTable-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-HeadA-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
	background-color: #696969;
}

.TableStyle-ParameterTable-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-HeadG-Column1-Header1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: bottom;
	background-color: #696969;
}

.TableStyle-ParameterTable-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-Foot-Footer1
{
	
}

.TableStyle-ParameterTable-FootI-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10px;
	background-color: #c0c0c0;
}

.TableStyle-ParameterTable-FootI-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10px;
}

.TableStyle-ParameterTable-FootE-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ParameterTable-FootE-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10px;
}

.TableStyle-ParameterTable-FootF-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ParameterTable-FootF-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10px;
}

.TableStyle-ParameterTable-FootH-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10px;
	background-color: #c0c0c0;
}

.TableStyle-ParameterTable-FootH-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10px;
}

.TableStyle-ParameterTable-FootD-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10px;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-ParameterTable-FootD-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10px;
}

.TableStyle-ParameterTable-FootC-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10px;
	background-color: #c0c0c0;
}

.TableStyle-ParameterTable-FootC-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10px;
}

.TableStyle-ParameterTable-FootB-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-family: Arial;
	font-size: 10px;
	background-color: #c0c0c0;
}

.TableStyle-ParameterTable-FootB-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10px;
}

.TableStyle-ParameterTable-FootA-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10px;
	background-color: #c0c0c0;
}

.TableStyle-ParameterTable-FootA-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10px;
}

.TableStyle-ParameterTable-FootG-Column1-Footer1
{
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 0px;
	font-family: Arial;
	font-size: 10px;
	background-color: #c0c0c0;
}

.TableStyle-ParameterTable-FootG-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 10px;
}

.TableStyle-ParameterTable-Body-Body1
{
	
}

.TableStyle-ParameterTable-BodyI-Column1-Body1
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.TableStyle-ParameterTable-BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyE-Column1-Body1
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ParameterTable-BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyF-Column1-Body1
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ParameterTable-BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyH-Column1-Body1
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ParameterTable-BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyD-Column1-Body1
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ParameterTable-BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyC-Column1-Body1
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.TableStyle-ParameterTable-BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyB-Column1-Body1
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ParameterTable-BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyA-Column1-Body1
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.TableStyle-ParameterTable-BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyG-Column1-Body1
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.TableStyle-ParameterTable-BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-Body-Body2
{
	
}

.TableStyle-ParameterTable-BodyI-Column1-Body2
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.TableStyle-ParameterTable-BodyI-Column1-Body2 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyE-Column1-Body2
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ParameterTable-BodyE-Column1-Body2 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyF-Column1-Body2
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ParameterTable-BodyF-Column1-Body2 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyH-Column1-Body2
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ParameterTable-BodyH-Column1-Body2 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyD-Column1-Body2
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-ParameterTable-BodyD-Column1-Body2 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyC-Column1-Body2
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.TableStyle-ParameterTable-BodyC-Column1-Body2 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyB-Column1-Body2
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-ParameterTable-BodyB-Column1-Body2 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyA-Column1-Body2
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.TableStyle-ParameterTable-BodyA-Column1-Body2 p
{
	font-family: Arial;
	font-size: 12px;
}

.TableStyle-ParameterTable-BodyG-Column1-Body2
{
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.TableStyle-ParameterTable-BodyG-Column1-Body2 p
{
	font-family: Arial;
	font-size: 12px;
}


