/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Version-table;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	max-id: 4;
	margin-bottom: 10px;
	border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Column1;
	id: 0;
	size: 50px;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	cell-content-style-tag: p;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	color: #ffffff;
	font-weight: 700;
}

mcTableColumnStyle
{
	span: 99;
	id: 4;
	name: Column2;
	cell-content-style-tag: p;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
	ruler-style: none;
	ruler-width: 1px;
	ruler-color: #ffffff;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Arial;
	cell-content-style-tag: p;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 2px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-Version-table
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-top-left-radius: 0px 0px;
	border-top-right-radius: 0px 0px;
	border-bottom-right-radius: 0px 0px;
	border-bottom-left-radius: 0px 0px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-Version-table-Column-Column1
{
	width: 50px;
}

.TableStyle-Version-table-Column-Column2
{
	
}

.TableStyle-Version-table-Head-Header1
{
	
}

.TableStyle-Version-table-HeadI-Column1-Header1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-HeadE-Column1-Header1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Version-table-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-HeadF-Column1-Header1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Version-table-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-HeadH-Column1-Header1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-HeadD-Column1-Header1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Version-table-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-HeadC-Column1-Header1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-HeadB-Column1-Header1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-HeadA-Column1-Header1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-HeadG-Column1-Header1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-HeadI-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-HeadI-Column2-Header1 p
{
	
}

.TableStyle-Version-table-HeadE-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Version-table-HeadE-Column2-Header1 p
{
	
}

.TableStyle-Version-table-HeadF-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Version-table-HeadF-Column2-Header1 p
{
	
}

.TableStyle-Version-table-HeadH-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-HeadH-Column2-Header1 p
{
	
}

.TableStyle-Version-table-HeadD-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Version-table-HeadD-Column2-Header1 p
{
	
}

.TableStyle-Version-table-HeadC-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-HeadC-Column2-Header1 p
{
	
}

.TableStyle-Version-table-HeadB-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-HeadB-Column2-Header1 p
{
	
}

.TableStyle-Version-table-HeadA-Column2-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Version-table-HeadA-Column2-Header1 p
{
	
}

.TableStyle-Version-table-HeadG-Column2-Header1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Version-table-HeadG-Column2-Header1 p
{
	
}

.TableStyle-Version-table-Foot-Footer1
{
	
}

.TableStyle-Version-table-FootI-Column1-Footer1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-FootI-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-FootE-Column1-Footer1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Version-table-FootE-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-FootF-Column1-Footer1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Version-table-FootF-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-FootH-Column1-Footer1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-FootH-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-FootD-Column1-Footer1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Version-table-FootD-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-FootC-Column1-Footer1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-FootC-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-FootB-Column1-Footer1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-FootB-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-FootA-Column1-Footer1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-FootA-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-FootG-Column1-Footer1
{
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-FootG-Column1-Footer1 p
{
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-FootI-Column2-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-FootI-Column2-Footer1 p
{
	
}

.TableStyle-Version-table-FootE-Column2-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Version-table-FootE-Column2-Footer1 p
{
	
}

.TableStyle-Version-table-FootF-Column2-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Version-table-FootF-Column2-Footer1 p
{
	
}

.TableStyle-Version-table-FootH-Column2-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-FootH-Column2-Footer1 p
{
	
}

.TableStyle-Version-table-FootD-Column2-Footer1
{
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-Version-table-FootD-Column2-Footer1 p
{
	
}

.TableStyle-Version-table-FootC-Column2-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-FootC-Column2-Footer1 p
{
	
}

.TableStyle-Version-table-FootB-Column2-Footer1
{
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-FootB-Column2-Footer1 p
{
	
}

.TableStyle-Version-table-FootA-Column2-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Version-table-FootA-Column2-Footer1 p
{
	
}

.TableStyle-Version-table-FootG-Column2-Footer1
{
	text-align: left;
	vertical-align: top;
}

.TableStyle-Version-table-FootG-Column2-Footer1 p
{
	
}

.TableStyle-Version-table-Body-Body1
{
	
}

.TableStyle-Version-table-BodyI-Column1-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-BodyI-Column1-Body1 p
{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-BodyE-Column1-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-BodyE-Column1-Body1 p
{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-BodyF-Column1-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-BodyF-Column1-Body1 p
{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-BodyH-Column1-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-BodyH-Column1-Body1 p
{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-BodyD-Column1-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-BodyD-Column1-Body1 p
{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-BodyC-Column1-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-BodyC-Column1-Body1 p
{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-BodyB-Column1-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-BodyB-Column1-Body1 p
{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-BodyA-Column1-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-BodyA-Column1-Body1 p
{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-BodyG-Column1-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	color: #ffffff;
	font-weight: 700;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: top;
}

.TableStyle-Version-table-BodyG-Column1-Body1 p
{
	font-family: Arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
}

.TableStyle-Version-table-BodyI-Column2-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-BodyI-Column2-Body1 p
{
	font-family: Arial;
	font-size: 14px;
}

.TableStyle-Version-table-BodyE-Column2-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-BodyE-Column2-Body1 p
{
	font-family: Arial;
	font-size: 14px;
}

.TableStyle-Version-table-BodyF-Column2-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-BodyF-Column2-Body1 p
{
	font-family: Arial;
	font-size: 14px;
}

.TableStyle-Version-table-BodyH-Column2-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-BodyH-Column2-Body1 p
{
	font-family: Arial;
	font-size: 14px;
}

.TableStyle-Version-table-BodyD-Column2-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Version-table-BodyD-Column2-Body1 p
{
	font-family: Arial;
	font-size: 14px;
}

.TableStyle-Version-table-BodyC-Column2-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-BodyC-Column2-Body1 p
{
	font-family: Arial;
	font-size: 14px;
}

.TableStyle-Version-table-BodyB-Column2-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: none;
}

.TableStyle-Version-table-BodyB-Column2-Body1 p
{
	font-family: Arial;
	font-size: 14px;
}

.TableStyle-Version-table-BodyA-Column2-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Version-table-BodyA-Column2-Body1 p
{
	font-family: Arial;
	font-size: 14px;
}

.TableStyle-Version-table-BodyG-Column2-Body1
{
	font-family: Arial;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Version-table-BodyG-Column2-Body1 p
{
	font-family: Arial;
	font-size: 14px;
}


