/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: HomePageMenu;
	border-collapse: collapse;
	border: none;
	max-id: 5;
	background: transparent;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	vertical-align: middle;
	text-align: center;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	vertical-align: top;
	text-align: left;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	vertical-align: middle;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-HomePageMenu
{
	border-collapse: collapse;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-spacing: 0px 0px;
}

.TableStyle-HomePageMenu-Column-Column1
{
	
}

.TableStyle-HomePageMenu-Column-Column2
{
	
}

.TableStyle-HomePageMenu-Head-Header1
{
	
}

.TableStyle-HomePageMenu-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-HeadI-Column1-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomePageMenu-HeadE-Column1-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomePageMenu-HeadF-Column1-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HomePageMenu-HeadH-Column1-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomePageMenu-HeadD-Column1-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-HeadC-Column1-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HomePageMenu-HeadB-Column1-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-HeadA-Column1-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-HeadG-Column1-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-HeadI-Column2-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomePageMenu-HeadE-Column2-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomePageMenu-HeadF-Column2-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-HeadH-Column2-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-HomePageMenu-HeadD-Column2-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-HeadC-Column2-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-HeadB-Column2-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-HeadA-Column2-Header1 p
{
	
}

.TableStyle-HomePageMenu-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-HeadG-Column2-Header1 p
{
	
}

.TableStyle-HomePageMenu-Foot-Footer1
{
	
}

.TableStyle-HomePageMenu-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-FootI-Column1-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-HomePageMenu-FootE-Column1-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-HomePageMenu-FootF-Column1-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HomePageMenu-FootH-Column1-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-HomePageMenu-FootD-Column1-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-FootC-Column1-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HomePageMenu-FootB-Column1-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-FootA-Column1-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-FootG-Column1-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-FootI-Column2-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-HomePageMenu-FootE-Column2-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-HomePageMenu-FootF-Column2-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-FootH-Column2-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-HomePageMenu-FootD-Column2-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-FootC-Column2-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-FootB-Column2-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-FootA-Column2-Footer1 p
{
	
}

.TableStyle-HomePageMenu-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-FootG-Column2-Footer1 p
{
	
}

.TableStyle-HomePageMenu-Body-Body1:hover
{
	background-color: #f9f9f9;
}


.TableStyle-HomePageMenu-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-BodyI-Column1-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HomePageMenu-BodyE-Column1-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-BodyF-Column1-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HomePageMenu-BodyH-Column1-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-BodyD-Column1-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-BodyC-Column1-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-HomePageMenu-BodyB-Column1-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-BodyA-Column1-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-HomePageMenu-BodyG-Column1-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyI-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-BodyI-Column2-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyE-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-BodyE-Column2-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyF-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-BodyF-Column2-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyH-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-BodyH-Column2-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyD-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-BodyD-Column2-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyC-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-BodyC-Column2-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyB-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-BodyB-Column2-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyA-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-BodyA-Column2-Body1 p
{
	
}

.TableStyle-HomePageMenu-BodyG-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-HomePageMenu-BodyG-Column2-Body1 p
{
	
}

