/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		font-size: 1px;
		font-family: Arial;
	}

	mcTableColumnStyle
	{
		font-family: Arial;
		color: #008000;
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Note;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #006400;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #006400;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #006400;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #006400;
	max-id: 7;
	margin-left: 80px;
	background-color: #ffffff;
	mc-hide-bottom-ruling: false;
	margin-top: 20px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	margin-right: 80px;
	margin-bottom: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-family: Arial;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	size: 55px;
	cell-padding-left: 5px;
	cell-padding-right: 10px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	vertical-align: top;
	text-align: left;
	font-size: 11pt;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	text-align: left;
	font-family: Arial;
	vertical-align: top;
	color: #008000;
	font-size: 11pt;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Body2;
	vertical-align: top;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Note
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Note-HeadI-Column1-Header1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadI-Column1-Header1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadE-Column1-Header1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadE-Column1-Header1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadF-Column1-Header1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadF-Column1-Header1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadH-Column1-Header1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadH-Column1-Header1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadD-Column1-Header1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadD-Column1-Header1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadC-Column1-Header1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadC-Column1-Header1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadB-Column1-Header1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadB-Column1-Header1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadA-Column1-Header1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadA-Column1-Header1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadG-Column1-Header1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadG-Column1-Header1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-HeadI-Column2-Header1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadI-Column2-Header1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadE-Column2-Header1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadE-Column2-Header1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadF-Column2-Header1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadF-Column2-Header1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadH-Column2-Header1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadH-Column2-Header1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadD-Column2-Header1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadD-Column2-Header1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadC-Column2-Header1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadC-Column2-Header1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadB-Column2-Header1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadB-Column2-Header1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadA-Column2-Header1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadA-Column2-Header1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadG-Column2-Header1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-HeadG-Column2-Header1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootI-Column1-Footer1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootI-Column1-Footer1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootE-Column1-Footer1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootE-Column1-Footer1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootF-Column1-Footer1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootF-Column1-Footer1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootH-Column1-Footer1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootH-Column1-Footer1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootD-Column1-Footer1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootD-Column1-Footer1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootC-Column1-Footer1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootC-Column1-Footer1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootB-Column1-Footer1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootB-Column1-Footer1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootA-Column1-Footer1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootA-Column1-Footer1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootG-Column1-Footer1
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootG-Column1-Footer1 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-FootI-Column2-Footer1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootI-Column2-Footer1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootE-Column2-Footer1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootE-Column2-Footer1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootF-Column2-Footer1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootF-Column2-Footer1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootH-Column2-Footer1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootH-Column2-Footer1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootD-Column2-Footer1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootD-Column2-Footer1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootC-Column2-Footer1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootC-Column2-Footer1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootB-Column2-Footer1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootB-Column2-Footer1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootA-Column2-Footer1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootA-Column2-Footer1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootG-Column2-Footer1
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-FootG-Column2-Footer1 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyI-Column1-Body2
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyI-Column1-Body2 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyE-Column1-Body2
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyE-Column1-Body2 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyF-Column1-Body2
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyF-Column1-Body2 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyH-Column1-Body2
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyH-Column1-Body2 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyD-Column1-Body2
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyD-Column1-Body2 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyC-Column1-Body2
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyC-Column1-Body2 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyB-Column1-Body2
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyB-Column1-Body2 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyA-Column1-Body2
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyA-Column1-Body2 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyG-Column1-Body2
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyG-Column1-Body2 p
	{
		font-family: Arial;
		font-size: 1px;
	}

	.TableStyle-Note-BodyI-Column2-Body2
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyI-Column2-Body2 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyE-Column2-Body2
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyE-Column2-Body2 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyF-Column2-Body2
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyF-Column2-Body2 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyH-Column2-Body2
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyH-Column2-Body2 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyD-Column2-Body2
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyD-Column2-Body2 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyC-Column2-Body2
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyC-Column2-Body2 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyB-Column2-Body2
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyB-Column2-Body2 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyA-Column2-Body2
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyA-Column2-Body2 p
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyG-Column2-Body2
	{
		color: #008000;
		font-family: Arial;
	}

	.TableStyle-Note-BodyG-Column2-Body2 p
	{
		color: #008000;
		font-family: Arial;
	}
}

.TableStyle-Note
{
	border-collapse: separate;
	mc-hide-bottom-ruling: false;
	overflow: hidden;
	background-color: #ffffff;
	border-left-style: solid;
	border-left-color: #006400;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #006400;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #006400;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006400;
	border-bottom-width: 1px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing: 0px 0px;
}

.TableStyle-Note-Column-Column1
{
	width: 55px;
}

.TableStyle-Note-Column-Column2
{
	
}

.TableStyle-Note-Head-Header1
{
	
}

.TableStyle-Note-HeadI-Column1-Header1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadI-Column1-Header1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadE-Column1-Header1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note-HeadE-Column1-Header1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadF-Column1-Header1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note-HeadF-Column1-Header1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadH-Column1-Header1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-HeadH-Column1-Header1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadD-Column1-Header1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note-HeadD-Column1-Header1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadC-Column1-Header1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadC-Column1-Header1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadB-Column1-Header1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-HeadB-Column1-Header1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadA-Column1-Header1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadA-Column1-Header1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadG-Column1-Header1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadG-Column1-Header1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-HeadI-Column2-Header1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note-HeadE-Column2-Header1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note-HeadF-Column2-Header1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-HeadH-Column2-Header1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note-HeadD-Column2-Header1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-HeadC-Column2-Header1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-HeadB-Column2-Header1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-HeadA-Column2-Header1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-HeadG-Column2-Header1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-Foot-Footer1
{
	
}

.TableStyle-Note-FootI-Column1-Footer1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootI-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootE-Column1-Footer1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note-FootE-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootF-Column1-Footer1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note-FootF-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootH-Column1-Footer1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-FootH-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootD-Column1-Footer1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note-FootD-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootC-Column1-Footer1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootC-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootB-Column1-Footer1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-FootB-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootA-Column1-Footer1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootA-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootG-Column1-Footer1
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootG-Column1-Footer1 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-FootI-Column2-Footer1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note-FootE-Column2-Footer1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note-FootF-Column2-Footer1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-FootH-Column2-Footer1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note-FootD-Column2-Footer1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-FootC-Column2-Footer1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-FootB-Column2-Footer1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-FootA-Column2-Footer1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-FootG-Column2-Footer1 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-Body-Body2
{
	
}

.TableStyle-Note-BodyI-Column1-Body2
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyI-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyE-Column1-Body2
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-BodyE-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyF-Column1-Body2
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyF-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyH-Column1-Body2
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-BodyH-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyD-Column1-Body2
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyD-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyC-Column1-Body2
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyC-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyB-Column1-Body2
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note-BodyB-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyA-Column1-Body2
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyA-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyG-Column1-Body2
{
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyG-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyI-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-BodyI-Column2-Body2 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyE-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-BodyE-Column2-Body2 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyF-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-BodyF-Column2-Body2 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyH-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-BodyH-Column2-Body2 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyD-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-BodyD-Column2-Body2 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyC-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-BodyC-Column2-Body2 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyB-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-BodyB-Column2-Body2 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyA-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-BodyA-Column2-Body2 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-Note-BodyG-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note-BodyG-Column2-Body2 p
{
	color: #008000;
	font-family: Arial;
	font-size: 11pt;
}


