/*<meta Version="9" conditions="default.MarkForDelete" />*/

/* MadCap Table Style: */

mcTableStyle
{
	name: Note_Important;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #696969;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #696969;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #696969;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	max-id: 7;
	margin-left: 80px;
	background-color: #ffffff;
	mc-hide-bottom-ruling: false;
	margin-top: 20px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	margin-right: 80px;
	margin-bottom: 20px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-family: Arial;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	size: 55px;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	vertical-align: top;
	text-align: center;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	text-align: left;
	vertical-align: top;
	font-family: Arial;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Body2;
	vertical-align: top;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	text-align: left;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}

/* Cell Styles: */

.TableStyle-Note_Important
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: false;
	background-color: #ffffff;
	border-left-style: solid;
	border-left-color: #696969;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #696969;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #696969;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #696969;
	border-bottom-width: 1px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing: 0px 0px;
}

.TableStyle-Note_Important-Column-Column1
{
	width: 55px;
}

.TableStyle-Note_Important-Column-Column2
{
	
}

.TableStyle-Note_Important-Head-Header1
{
	
}

.TableStyle-Note_Important-HeadI-Column1-Header1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-HeadI-Column1-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadE-Column1-Header1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Important-HeadE-Column1-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadF-Column1-Header1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Important-HeadF-Column1-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadH-Column1-Header1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note_Important-HeadH-Column1-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadD-Column1-Header1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Important-HeadD-Column1-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadC-Column1-Header1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-HeadC-Column1-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadB-Column1-Header1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note_Important-HeadB-Column1-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadA-Column1-Header1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-HeadA-Column1-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadG-Column1-Header1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-HeadG-Column1-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadI-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-HeadI-Column2-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadE-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Important-HeadE-Column2-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadF-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Important-HeadF-Column2-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadH-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-HeadH-Column2-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadD-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Note_Important-HeadD-Column2-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadC-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-HeadC-Column2-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadB-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-HeadB-Column2-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadA-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-HeadA-Column2-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-HeadG-Column2-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-HeadG-Column2-Header1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-Foot-Footer1
{
	
}

.TableStyle-Note_Important-FootI-Column1-Footer1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-FootI-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootE-Column1-Footer1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Important-FootE-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootF-Column1-Footer1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Important-FootF-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootH-Column1-Footer1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note_Important-FootH-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootD-Column1-Footer1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Important-FootD-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootC-Column1-Footer1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-FootC-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootB-Column1-Footer1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note_Important-FootB-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootA-Column1-Footer1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-FootA-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootG-Column1-Footer1
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-FootG-Column1-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootI-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-FootI-Column2-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootE-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Important-FootE-Column2-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootF-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Important-FootF-Column2-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootH-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-FootH-Column2-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootD-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Note_Important-FootD-Column2-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootC-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-FootC-Column2-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootB-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-FootB-Column2-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootA-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-FootA-Column2-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-FootG-Column2-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-FootG-Column2-Footer1 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-Body-Body2
{
	
}

.TableStyle-Note_Important-BodyI-Column1-Body2
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-BodyI-Column1-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyE-Column1-Body2
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note_Important-BodyE-Column1-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyF-Column1-Body2
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-BodyF-Column1-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyH-Column1-Body2
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note_Important-BodyH-Column1-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyD-Column1-Body2
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-BodyD-Column1-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyC-Column1-Body2
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-BodyC-Column1-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyB-Column1-Body2
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Note_Important-BodyB-Column1-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyA-Column1-Body2
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-BodyA-Column1-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyG-Column1-Body2
{
	font-family: Arial;
	text-align: center;
	vertical-align: top;
	background-image: none;
	background-repeat: no-repeat;
	background-position-x: 15;
	background-position-y: 15;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Note_Important-BodyG-Column1-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyI-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-BodyI-Column2-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyE-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-BodyE-Column2-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyF-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-BodyF-Column2-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyH-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-BodyH-Column2-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyD-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-BodyD-Column2-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyC-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-BodyC-Column2-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyB-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-BodyB-Column2-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyA-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-BodyA-Column2-Body2 p
{
	font-family: Arial;
}

.TableStyle-Note_Important-BodyG-Column2-Body2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Note_Important-BodyG-Column2-Body2 p
{
	font-family: Arial;
}

