/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TextList;
	margin-left: 50px;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 3pt;
	cell-padding-left: 4pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
	vertical-align: top;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
	font-family: Arial;
	vertical-align: top;
	page-break-inside: avoid;
	column-break-inside: avoid;
	font-size: 11pt;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-TextList
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 50px;
	margin-right: 0in;
	margin-top: 12pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-TextList-Column-Column1
{
	
}

.TableStyle-TextList-Head-Header1
{
	
}

.TableStyle-TextList-HeadI-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TextList-HeadE-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TextList-HeadF-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TextList-HeadH-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TextList-HeadD-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TextList-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TextList-HeadC-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TextList-HeadB-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TextList-HeadA-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TextList-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TextList-HeadG-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TextList-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TextList-Foot-Footer1
{
	
}

.TableStyle-TextList-FootI-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TextList-FootE-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TextList-FootF-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TextList-FootH-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TextList-FootD-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TextList-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TextList-FootC-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TextList-FootB-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TextList-FootA-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TextList-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TextList-FootG-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TextList-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TextList-Body-Body2
{
	page-break-inside: avoid;
	column-break-inside: avoid;
}

.TableStyle-TextList-BodyI-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 11pt;
	border-bottom-style: none;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-BodyI-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-TextList-BodyE-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 11pt;
	border-bottom-style: none;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-BodyE-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-TextList-BodyF-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 11pt;
	border-bottom-style: none;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-BodyF-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-TextList-BodyH-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 11pt;
	border-bottom-style: none;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-BodyH-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-TextList-BodyD-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 11pt;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-TextList-BodyD-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-TextList-BodyC-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 11pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-BodyC-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-TextList-BodyB-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 11pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-TextList-BodyB-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-TextList-BodyA-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 11pt;
	vertical-align: top;
}

.TableStyle-TextList-BodyA-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}

.TableStyle-TextList-BodyG-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 2pt;
	padding-top: 3pt;
	padding-bottom: 2pt;
	font-family: Arial;
	font-size: 11pt;
	border-bottom-style: none;
	vertical-align: top;
}

.TableStyle-TextList-BodyG-Column1-Body2 p
{
	font-family: Arial;
	font-size: 11pt;
}


